*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins',sans-serif;
}
.navbar-white{
	background: #fff;
	box-shadow:0 5px 10px rgba(0,0,0,0.05);
	
}
nav{
	display:flex;
	align-item:center;
	justify-content:space-between;
	padding:20px 7;
	}
.logo{
	width:140px;
	cursor:pointer;
}
.nav-links li{
	list-style:none;
	display:inline-block;
	margin:10px 30px;
}
.navbar-white .nav-links li a{
color:#000;
}
.navbar-white .register-btn{
	background: #ff5361;
	color;#fff;
}
.nav.navbar-white .fa-bars{
color:#000;
}
.navbar-white .active::after{
	background:#ff5361;
}
.list-container{
	margin-top:50px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.left-col{
flex-basis:70% ;
}
.right-col{
	flex-basis:25%;
}
.left-col h1{
	color:#333;
	font-weight:600;
	margin-bottom:30px;
}

.house{
	display:flex;
 justify-content:space-between;
 flex-wrap:wrap;
 padding:30px 0;
 border-top:1px solid #ccc;
}
.house-img{
	flex-basis:40%;
}
.house-info{
	flex-basis:58%;
	color:#555;
}
.house-img img{
	width:100%;
	border-radius:12px;
}
.house-info h3{
	font-weight:600;
	color:#333;
	font-size:22px;
	margin:4px 0;
}
.house-info i{
	color:#ff5361;
  font-size:18px;
  margin:10px 1px;
}
.house-price{
	text-align:right;
}
.house-price h4{
	font-size:20px;
}
.house-price h4 span{
	font-size:16px;
	font-weight:500;
}
.slidebar{
	border:1px solid #999;
	padding:20px 30px;
	margin-top:30px;
}
.slidebar h2{
	font-weight:500;
}
.slidebar h3{
	font-weight:500;
	margin:20px 0 10px;
}
.filter{
	display:flex;
	align-items:center;
	color:#555;
	margin-bottom:10px;
}
.filter p{
	flex:1;
}
.filter input{
	margin-right:15px;
	cursor:pointer;
}
.sidebar-link{
	text-align:right;
	margin:20px 0;
}
.sidebar-link a{
	text-decoration:none;
}
.pagination{
	display:flex;
	align-items:center;
	justify-content:center;
	margin:40px 0;
}
.pagination img{
	width:15px;
	margin:10px 20px; 
}
.right-arrow{
	transform: rotate(180deg);
}
.pagination span{
	margin:10px 8px;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius: 50%;
	cursor:pointer;
}
.pagination .current{
	background:#333;
	color:#fff;
}

.nav-links li a{
	text-decoration:none;
	color:#fff;
}
.register-btn{
	background:#fff;
	color:#000;
	padding:8px 20px;
	border-radius:20px;
	text-decoration:none;
	font-size:14px;
	margin-right: 70px;
}
.container{
	padding:0 7%;
}
.footer{
	margin:80px 0 10px;
	text-align:center;
}
.footer a{
	text-decoration:none;
	color:#999;
	font-size:22px;
	margin:0 10px;
}
.hr{
 background:blueviolet;
 height:1px;
 width:10px;
 border:0;
 margin:20px 0;
}
.footer p{
 padding-bottom:10px;
}
.active{
	position:relative;

}
.active::after{
	content:'';
	background:#fff;
	width:25px;
	height:2px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:-12px;
	border-radius:2px;
}
.nav .fa-bars{
	display:none;
}
.house-details{
	padding:0 12%;
}
.house-title h1{
font-height:600;
}
.house-title{
	margin-top:50px;
}
.house-title .row{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin:10px 0;
}
.house-title span{
	margin:0 20px;

}
.house-title i{
	color:#ff5361;
	font-size:14px;
	
}
.gallery{
display:grid;
grid-gap:10px;
grid-template-areas:'first first . .' 'first first . .';
margin:20px 0;

}
.gallery div img{
	width:100%;
	display:block;
	border-radius:10px;
}
.gallery-img-1{
	grid-area:first;
}
.small-deatils h2{
	font-weight:500;
}
.small-deatils h4{
 text-align:right;
 font-size:22px;
}
.line{
	border:0;
	height:1px;
	background:#ccc;
	width:100%;
	max-width:800px;
	margin:20px 0 50px;
}
.check-form{
	margin:30px 0;
	background: #fff;
	box-shadow:0 0 30px rgba(0,0,0,0.3);
	border-radius:8px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	padding:10px 50px;
}
.check-form label{
	display:block;
}
.check-form div{
	padding:20px;
}
.check-form input{
	background: transparent;
	border:0;
	outline:none;
}
.check-form button{
	background:#ff5361;
	border:0;
	outline:none;
	color:#fff;
	padding:18px;
	width:350px;
	border-radius:8px;
	font-size:16px;
}
.guiest-field{
	flex:1;
}
.details-list{
	list-style:none;
	margin:50px 0;
}
.details-list li{
	margin-left:50px;
	font-size:20px;
	font-weight:500;
	margin-bottom:20px;
	color:#555;
	position: relative;
}
.details-list li span{
	display:block;
	font-weight:400;
	font-size:16px;
}
.details-list li i{
	position:absolute;
	top:5px;
	left:-40px;

}
.home-desc{
	max-width:700px;
	margin-bottom:50px;
}
.map{
	margin:50px 0;
}
.map iframe{
	width:100%;
	margin-bottom:30px;
}
.map h3{
	font-size:26px;
	dont-weight:500;
	margin-bottom:30px;
}
.map b{
	display:block;
	margin-bottom:16px;
}
.host{
	display:flex;
	align-items:center;
}
.host img{
	width:80px;
	border-radius:50%;
	margin-right:30px;
}
.host h2{
	margin-bottom:10px;
	font-weight:500;
}
.host i{
	color:#ff5361;
}
.contact{
	display:inline-block;
	margin:40px 0 40px 120px;
	text-decoration:none;
	color:#555;
	padding:15px 50px;
	border:1px solid #ff5361;
     border-radius:8px;
}
.last{
 padding-bottom:10px;
 padding-top:10px;
 padding-left: 550px;
}